#game {
  width: 90vw;
  margin: 2rem;
  padding: 1rem;
  border: 4px solid black;
  border-radius: 20px;
  background: linear-gradient(#ff6659, #d32f2f, #9a0007,  #d32f2f);
  box-shadow: inset 2px 1px 3px 7px rgb(154,0,7,0.3);
}

#innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas1 {
  width: 800px;
  height: 500px;
  border: 6px solid black;
  overflow: hidden;
}

.borderBox {
  border: 4px solid black;
  padding: 5px 5px 2px 5px;
  background-color: #7f0000;
}

.links {
  text-decoration: none;
}

.homePage {
  background-color: #080706;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.gameName h1 {
 font-size: 80px !important;
 margin-top: -10rem;
 margin-bottom: 10rem;
}

 .logoGame {
  width: 15rem;
  margin-top: 0;
}


.MuiFab-extended {
  margin-bottom: 3rem !important;
}

.musicControl {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal; 
}


@media (max-width: 1298px) {

  .MuiFab-extended {
    width: 48px !important;
    
  }

  .MuiFab-root {
    font-size: 0.4rem !important;
  }

  .allButton {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}

